h1 {
  color: blue;
}

.photo {
  width: 400px;
  border-radius: 200px;
  border: 5px solid rgba(24, 81, 240, 0.767);
  box-shadow: 5px 5px 5px rgba(0, 0, 255, 0.356);
  float: left;
  margin: 20px 20px 20px 20px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 20px;
    text-align: center;
    
  }
  .photo {
  width: 200px;
  border-radius: 100px;
}

@media (min-width: 900px) {
  h1 {
    color: rgb(199, 52, 52);
  }
}