
h1 {
  color: blueviolet;
}

.photo {
  width: 400px;
  border-radius: 200px;
  border: 5px solid rgb(247, 163, 107);
  box-shadow: 0 0 7px rgb(239, 247, 138);
  float: left;
  margin: 20px 20px 20px 20px;
}
